<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <title>{% block title %} {% endblock %}</title>
    {% block imports %}
    {% endblock %}
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    /* Set the width of the side navigation to 250px */
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

/* Set the width of the side navigation to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
</head>
<body>
    <header>
        <span onclick="openNav()" id="menuToggle">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <div class="header-bar">
            <h1>{% block header_title %} {% endblock %}</h1>
        </div>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>



<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a class="menu-entry" href="/">Home</a>
  <a class="menu-entry" href="https://krelou.dev/" target="_blank">About</a>
</div>

</body>
</html>