
{% extends "index.html" %}

{% block title %}{{TITLE}}{% endblock %}

{% block header_title %} {{REGION}} {% endblock %}

{% block imports %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

    <script src="/static/js/region_map.js"></script>
{% endblock %}}


{% block content %}

    <button id="play-button" onclick="onPlayStart()"></button>

    <span id="timestamp"></span>
    <span id="color-legend"><img src="/static/img/color-range.png">
        <div class="row">
            <span id="min_value">0</span>
            <span id="max_value">>= 50</span>
        </div>
    </span>

    <div id="mapid"></div>

{% endblock %}


